
# /
/.project
/autom4te.cache
/aclocal.m4
/Makefile.in
/configure

# /checks/
/checks/Makefile
/checks/Makefile.in

# /checks/R-tests/
/checks/R-tests/Makefile.in

# /doc/
/doc/Makefile.in
/doc/doxygen-docs
/doc/ProbABEL_manual.aux
/doc/ProbABEL_manual.idx
/doc/ProbABEL_manual.ilg
/doc/ProbABEL_manual.ind
/doc/ProbABEL_manual.log
/doc/ProbABEL_manual.out
/doc/ProbABEL_manual.pdf
/doc/ProbABEL_manual.synctex.gz
/doc/ProbABEL_manual.toc
/doc/auto/

# /examples/
/examples/Makefile.in

# /src/
/src/Makefile.in
/src/config.h.in
.Rhistory
